body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
    padding: 30px;
    margin-top: 0px;
}
table{
    display: table;
    border: thin solid black;
    border-spacing: 10px;
}
td {
    display: table-cell;
    height: 150px;
    width: 255px;
    background-color: blue;
}
#panel {
    border: thin solid black;
    height: 150px;
    margin-top: 10px;
}

.taxi {
    background: url("images/taxi_301x301.png") no-repeat center center;
}
.train {
    background: url("images/train.png") no-repeat center center;
}
.compass {
    background: url("images/compass.png") no-repeat center center;
}
.camera {
    background: url("images/travel-vector-free-icon-set-30.png") no-repeat center center;
}
.luggage {
    background: url("images/luggage2.jpg") no-repeat center center;
}
.map {
    background: url("images/map.png") no-repeat center center;
}
.plane {
    background: url("images/plane.png") no-repeat center center;
}
.globe {
    background: url("images/travel-vector-free-icon-set-21.png") no-repeat center center;
}
.palmTree {
    background: url("images/palm-tree.jpg") no-repeat center center;
}
.passport {
    background: url("images/passport.png") no-repeat center center;
}
.boardingPass {
    background: url("images/travel-vector-free-icon-set-22.png") no-repeat center center;
}


