body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid black;
    padding: 30px;
    margin-top: 0px;
}
table{
    display: table;
    border: thin solid black;
    border-spacing: 10px;
}
td {
    display: table-cell;
    height: 150px;
    width: 255px;
    background-color: blue;
}
#panel {
    border: thin solid black;
    height: 150px;
    margin-top: 10px;
}

